<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PT4 Active Learning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--
    To collect end-user usage analytics about your application,
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
  var appInsights=window.appInsights||function(config){
    function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
    }({
        instrumentationKey:"5bc7c2dc-ba6f-4e15-ad4a-91414900b828"
    });

    window.appInsights=appInsights;
    appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Active Learning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", onclick = "javascrip:return false;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "./")</li>*@
                </ul>
                @{

                    string url = Request.Path;
                    if (url.IndexOf("Admin", StringComparison.OrdinalIgnoreCase) >= 0)
                    {
                        @Html.Partial("_LoginAdminPartial")
                    }
                    else if (url.IndexOf("Instructor", StringComparison.OrdinalIgnoreCase) >= 0)
                    {
                        @Html.Partial("_LoginInstructorPartial")
                    }
                    else if (url.IndexOf("Student", StringComparison.OrdinalIgnoreCase) >= 0)
                    {
                        @Html.Partial("_LoginStudentPartial")
                    }


                }

            </div>
        </div>
    </div>
    <div class="container body-content panel-body glyphicon-align-center" style="min-height:800px;">
        <div class="row">
            @*<div class="">Welcome !</div>*@
        </div>
        @RenderBody()
        <hr />

    </div>
    @*<div class="container">
        <a href="#" class="navbar-nav"  style="font-size:medium;">Back To List</a>
    </div>*@
    @if (!String.IsNullOrEmpty(ViewBag.BackURL))
    {
        <div class="container">
            <a href="@ViewBag.BackURL" class="navbar-nav">Back To List</a>          
        </div>
    }
    <br />
    <footer class="panel-footer" style="text-align:center">
        <p>&copy; @DateTime.Now.Year - PT4 Active Learning Application</p>
    </footer>
</body>
</html>
